.container {
  background-color: #f7f7f7;
  border-radius: 10px;

  padding: 1.5rem;

  position: relative;
}

.hoverContainer {
  position: absolute;
  border-radius: 10px;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  background-color: rgba(128, 128, 128, 0.5);

  color: white;

  transition: all 0.3s ease;
}

.container:hover .hoverContainer {
  opacity: 1;
  transition: all 0.3s ease;
}

.hoverContainer > p {
  font-family: "NotoSansBold";
}

.hoverContainer > p > * {
  vertical-align: middle;
}

.title {
  color: #003b71;
  font-size: 1.125rem;
  font-family: "NotoSansBold";
}

.subtitle {
  margin: 1rem 0;

  color: #2e2e2e;
  font-size: 0.875rem;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.infoContainer {
  display: flex;
  align-items: center;

  color: #686868;
}

.infoContainer p {
  font-size: 0.75rem;
}

.infoContainer > div {
  display: flex;
  align-items: center;
  gap: 4px;
}

.infoContainer > *:not(:last-child) {
  margin-right: 10px;
}

.imageContainer {
  width: 8px;
  height: 8px;
}
