.rowWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigateInfoContainer {
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;

  background-color: #f8f8f8;
  border-bottom: solid 0.8px #dddddd;
}

.navigateInfoContainer > p {
  color: #181818;
  font-size: 0.875rem;
}

.keywordTitle {
  font-size: 1.5rem;
  font-family: "NotoSansBold";
}

.keywordTitle > span {
  font-size: inherit;
  font-family: inherit;
  color: #003b71;
}

.mainContainer {
  margin-top: 2.5rem;

  /* display: grid;
  grid-template-columns: 1fr 5.84fr;
  column-gap: 2.25rem; */

  display: flex;
  justify-content: space-between;
}

.mainContainer > section:first-child {
  width: 15%;
}

.mainContainer > section:nth-child(2) {
  width: 80%;
}

.sectionTitle {
  font-size: 1rem;
  font-family: "NotosansBold";
}

.sectionTitle > .highlightText {
  font-size: inherit;
  font-family: inherit;
  color: #003b71;
}

.sectionSubtitle {
  font-size: 0.875rem;
  font-family: "NotosansBold";
}

.resetTextContainer {
  display: flex;
  cursor: pointer;
}

.resetText {
  margin-left: 0.25rem;

  font-size: 0.75rem;
  color: #767676;
}

.sectionTitleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 3.5rem;
}

.filterTitleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.divisionLine {
  background-color: #d5d5d5;
  height: 0.8px;
  margin: 1rem 0;
}
