.root {
  height: 100vh;
}

.header {
  height: 180px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header > * {
  margin: auto;
}

.logoContainer {
  width: 18rem;
  height: auto;
}
