.Container {
  display: block;
  padding: 3rem 5rem 7rem 5rem;
}

@media (max-width: 767px) {
  .Container {
    padding: 2rem 0 9rem 0;
  }
}

@media (max-width: 991px) {
  .Container {
    padding: 3rem 1rem 11rem 1rem;
  }
}

.main {
  display: block; 
}

@media (max-width: 767px) {
  .main {
    padding: 0px 1.25rem;
  }
}

@media (max-width: 991px) {
  .main {
    padding: 0px 2rem;
  }
}

.header {
  display: block;
  box-sizing: border-box;
}

.header > h2 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 140%;
  letter-spacing: -0.009em;
  color: black
}

@media (max-width: 991px) {
  .header > h2 {
    font-size: 1.625rem;
  }
}

.body {
  margin-top: 3.5rem;
}

@media (max-width: 991px) {
  .body {
    margin-top: 2.5rem;
  }
}

.contentHeader {
  display: block;
  width: fit-content;
  padding-bottom: 0.4375rem;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.8125rem;
  color: #0078FF;
  border-color: #0078FF;
  letter-spacing: -0.01875rem;
  border-bottom: 0.1875rem solid #0078FF;
}

.content {
  border: 0.0625rem solid #D7E2EB;
  border-radius: 0.75rem 0.5rem 0.875rem;
  padding: 1.75rem 3rem 1.75rem 2rem;
  margin: 1.5rem 0px 4rem;
}

@media (max-width: 767px) {
  .content {
    padding: 0px 0.75rem;
    margin-top: 1.75rem;
  }
}

.rowTable table {
  display: table;
  width: 100%;
  box-sizing: border-box;
  border-color: gray;
}

.rowTable table tbody tr {
  height: 3rem;
}

.rowTable table th {
  width: 16rem;
  text-align: left;
  vertical-align: top;
  border: 1px solid #e0e0e0;
  border-width: 0 0 1px 0;
  padding: 1.2rem 10px;
  background-color: white;
  font-weight: 700;
}

.required:before {
  content: "*";
  color: #d8265d;
  padding-right: 5px;
}

.rowTable table .label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding: 0;
}

.rowTable table td {
  width: auto;
  text-align: left;
  vertical-align: top;
  border: 1px solid #e0e0e0;
  border-width: 0 0 1px 0;
  padding: 1.2rem 0;
}

@media (max-width: 1024px) {
  .rowTable table tbody tr td {
    padding: 5px 0;
    border-bottom: 1px solid #e0e0e0;
  }
}

.rowTable table tbody tr:last-child th,
.rowTable table tbody tr:last-child td {
  border-width: 0 0 0 0;
}

.inputType {
  position: relative;
  display: inline-block;
  width: 30rem;
}

.inputText {
  display: inline-block;
  width: 100%;
  height: 3rem;
  padding: 0 1rem;
  border: 1px solid #ccc;
  vertical-align: middle;
  text-align: left;
  outline: 0;
}

.inputTextArea {
  width: 100%;
  height: 12.5rem;
  border: 1px solid #ccc;
  padding: 10px;
  vertical-align: middle;
  resize: none;
  text-align: left;
  outline: 0;
}

.selection {
  width: 12.5rem;
  height: 3rem;
  padding: 0 0 0 5px;
  border: 1px solid #ccc;
  vertical-align: middle;
}

.selection option {
  display: block;
  min-height: 1.2em;
  padding: 0px 2px 1px;
  white-space: nowrap;
}

.button {
  display: inline-block;
  min-width: 6.25rem;
  padding: 0 20px;
  line-height: 37px;
  color: white;
  font-weight: 700;
  letter-spacing: -0.05em;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

.button.white {
  color: #333;
  border: 1px solid #999;
  background-color: #fff;
}

.button.white:hover {
  color: white;
  border: 1px solid #0078FF;
  background-color: #0078FF;
}

.requestBtn {
  margin: 1.875rem 0 0;
  text-align: center;
}

.gray {
  color: #fff;
  border: 1px solid #555555;
  background-color: #555555;
  margin: 0 2px;
}

.blue {
  color: #fff;
  border: 1px solid #0066ff;
  background-color: #0066ff;
  margin: 0 2px;
}

.textArea {
  width: 100%;
  height: 20rem;
  padding: 20px;
  border: 1px solid #0066ff;
  border-radius: 4px;
  resize: vertical;
  margin-top: 1.5rem;
}
