.container {
  position: relative;
  z-index: 999;
  max-width: 500px;
  margin: 10% auto;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 18px 36px;
  border-bottom: 1px solid #dcdcdc;
}

.header > div:first-child {
  font-size: 0.875rem;
  font-weight: 700;
}

.mainForm {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  padding: 25px 36px 15px;
}

.mainForm > div {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: 100%;
}

.mainForm > div > label {
  display: flex;
  font-size: 0.8125rem;
  font-weight: 500;
  color: #424242;
}

.essential::after {
  content: "*";
  color: #d8265d;
  padding-left: 5px;
}

.mainForm > div > div {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: 100%;
}

.formInput {
  flex-grow: 1;
  min-width: 428px;
  padding: 11px 19px;
  color: #263747;
  background-color: #fbfbfd;
  border: #e6eef5 solid 2px;
  border-radius: 5px;
}

.formInput::before {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  z-index: -1;
  display: block;
  pointer-events: none;
  content: "";
  border: #e6eef5 solid 1px;
}

.infoTxt {
  font-size: 0.75rem;
  line-height: 12px;
  color: #98a8b9;
}

.infoTxt > a {
  cursor: pointer;
  text-decoration: none;
  color: #0078ff;
}

.submit {
  display: flex;
  column-gap: 12px;
  justify-content: flex-end;
  padding: 40px 36px;
}

.submit > button {
  width: 100px;
  height: 46px;
  padding: 12px 19px;
  font-weight: 700;
  color: #263747;
  text-align: center;
  background-color: #fbfbfd;
  border-radius: 4px;
}

.submit > button:first-child {
  color: #263747;
  background-color: #fbfbfd;
  border: #e0e0e0 solid 1px;
}

.submit > button:nth-child(2) {
  color: #fff;
  background-color: #0078ff;
}
