.container {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;

  border: black;

  background-color: #f9fafb;
}

.listWrapper {
  width: 20%;
  height: auto;

  margin-top: 3rem;
}

.list {
  border: 0.0625rem solid #d7e2eb;
  border-radius: 0.9375rem;

  background-color: white;

  padding: 2.625rem 1.5rem;
}

.list ol {
  list-style-type: none;
}

.detailList {
  width: 100%;

  margin-bottom: 2.5rem;
}

.detailList:nth-of-type(3) {
  margin-bottom: 0px;
}

.detailList h3 {
  margin-bottom: 1.125rem;

  color: #9b9b9b;
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1.375rem;
}

.detailList ol {
  list-style-type: none;
}

.detailList ol li {
  padding: 0.6875rem 1rem;
  border-radius: 0.25rem;
  margin-bottom: 0.125rem;
  font-size: 1rem;
  line-height: 1.4375rem;
  color: black;
  font-weight: 700;

  background-color: white;
}

.detailList ol li:hover {
  background-color: #e6f2ff;

  color: #0078ff;
}

.mainWrapper {
  width: 80%;

  display: flex;
  flex-direction: column;

  flex-grow: 1;
  padding-bottom: 40px;
  padding-left: 60px;
  margin-top: 48px;
}

.mainHeader {
  margin-bottom: 24px;
  font-size: 1.5625rem;
  font-weight: 700;
  line-height: 44px;
}
