.container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  height: auto;

  border: black;

  background-color: #f9fafb;
}

.listWrapper {
  width: 25%;
  height: auto;

  margin-top: 3rem;
}

.list {
  border: 0.0625rem solid #d7e2eb;
  border-radius: 0.9375rem;

  background-color: white;

  padding: 2.625rem 1.5rem;
}

.list ol {
  list-style-type: none;
}

.detailList {
  width: 100%;

  margin-bottom: 2.5rem;
}

.detailList:nth-of-type(3) {
  margin-bottom: 0px;
}

.detailList h3 {
  margin-bottom: 1.125rem;

  color: #9b9b9b;
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1.375rem;
}

.detailList ol {
  list-style-type: none;
}

.detailList ol li {
  padding: 0.6875rem 1rem;
  border-radius: 0.25rem;
  margin-bottom: 0.125rem;
  font-size: 1rem;
  line-height: 1.4375rem;
  color: black;
  font-weight: 700;

  background-color: white;
}

.detailList ol li:hover {
  background-color: #e6f2ff;

  color: #0078ff;
}

.mainWrapper {
  width: 70%;

  display: flex;
  flex-direction: column;

  flex-grow: 1;
  padding-bottom: 40px;
  padding-left: 60px;
  margin-top: 48px;
}

.mainHeader {
  margin-bottom: 24px;
  font-size: 1.5625rem;
  font-weight: 700;
  line-height: 44px;
}

.mainBody {
  display: flex;
  flex-direction: column;
}

.bodyDetail {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 48px;
  row-gap: 24px;
}

.bodyHeader {
  font-size: 1.125rem;
  font-weight: 700;
}

.basicinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: auto;

  padding: 40px;
  border: #d7e2eb solid 1px;
  border-radius: 15px;
  background-color: #fff;
  row-gap: 15px;
}

.pwInfo {
  display: flex;
  justify-content: space-between;
  padding: 24px 40px;
  border: #d7e2eb solid 1px;
  border-radius: 15px;
  background-color: #fff;
  line-height: 24px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 500;
}

.content:first-child {
  color: #606060;
  font-size: 0.8125rem;
}

.content:nth-child(2) {
  color: #424242;
  font-size: 0.9375rem;
}

.pwInfo button {
  width: 130px;
  height: 46px;
  padding: 0px;
  border: #d7e2eb solid 1px;
  margin: auto 0px;

  border-radius: 4px;
  background-color: #fbfbfd;
  color: #263747;
  font-weight: 700;
  text-align: center;
}

.pwInfo button:hover {
  background-color: #0078ff;
  color: white;
}

.filterWrapper {
  display: grid;
  grid-template:
    "filters searchInput actionButton" 1fr
    "filterLabels filterLabels actionButton" auto/1fr auto auto;
  column-gap: 8px;
  margin-bottom: 32px;
}

.filterWrapper .dropdownFilter {
  display: flex;
  flex-wrap: wrap;
  grid-area: filters;
  row-gap: 8px;
  column-gap: 20px;
  align-items: center;
}

.dropdownFilter div {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.filter1 {
  position: relative;
  display: inline-block;
  width: fit-content;
}

.filter2 {
  width: 140px;
}

.button1 {
  position: relative;
  display: block;
  width: 100%;
  height: 32px;
  padding: 0 26px 0 12px;
  overflow-x: hidden;
  font-size: 14px;
  line-height: 20px;
  color: #263747;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  background: #fbfbfd;
  border: 1px solid #d7e2eb;
  border-radius: 4px;
  transition-delay: initial;
  transition-timing-function: ease-in-out;
  transition-duration: 0.08s;
  transition-property: background-color, box-shadow, border-color, color;
}

.button2 {
  background-color: #fff;
}

.button1::before,
.button1::after {
  position: absolute;
  top: 50%;
  right: 8px;
  vertical-align: 0.255em;
  content: "";
  border-top: 4px solid #263747;
  border-right: 4px solid rgba(0, 0, 0, 0);
  border-left: 4px solid rgba(0, 0, 0, 0);
  transform: translateY(-50%);
}

.buttonText {
  display: flex;
  gap: 4px;
  align-items: center;
}

.filterWrapper .searchFilter {
  grid-area: searchInput;
}

.filterWrapper .searchFilter > * {
  width: 224px;
}

.searchBox {
  position: relative;
}

.searchBoxInner {
  position: relative;
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: default;
}

.searchText1 {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 13px;
  overflow-x: hidden;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  color: #263747;
  text-overflow: ellipsis;
  appearance: none;
  resize: vertical;
  background-color: #fbfbfd;
  border: 1px solid #d7e2eb;
  border-radius: 4px;
  outline: 0;
  transition-delay: initial;
  transition-timing-function: ease-in-out;
  transition-duration: 0.08s;
  transition-property: background-color, box-shadow, border-color, color;
}

.searchBox .searchText2 {
  height: 40px;
  padding: 0 30px 0 13px;
  font-size: 16px;
  line-height: 24px;
  background-color: #fff;
}

.searchBox .searchButton {
  position: absolute;
  top: 6px;
  right: 10px;
  bottom: 6px;
  display: flex;
  align-items: center;
  padding: 0;
  appearance: none;
  cursor: pointer;
  background: none;
  border: 0;
}

.resultNum {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-between;
  margin-bottom: 12px;
}

.resultNum .resultNumText {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #000;
  letter-spacing: -0.144px;
}

.searchResult {
  margin-bottom: 24px;
}

.searchResultBody {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  padding: 30px 16px 50px 16px;
  margin-bottom: 64px;
  background-color: #fff;
  border: 1px solid #d7e2eb;
  border-radius: 8px;
}

.searchResultBody table {
  width: 100%;
  margin: 0;
  border: 0;
  table-layout: fixed;
  border-collapse: collapse;
  empty-cells: show;
}

.searchResultBody table thead {
  display: table-header-group;
  vertical-align: middle;
  unicode-bidi: isolate;
  border-color: inherit;
}

.searchResultBody table thead tr,
.searchResultBody table tbody tr {
  display: table-row;
  vertical-align: inherit;
  unicode-bidi: isolate;
  border-color: inherit;
}

.searchResultBody table thead tr th,
.searchResultBody table tbody tr td {
  height: 45px;
  padding: 2px 10px;
  text-align: center;
  border: 0;
  border-bottom: 1px solid #e0e0e0;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.searchResultBody table thead tr th {
  height: 45px;
  text-align: center;
  background-color: #f7f7f7;
}

.gridCol1 {
  position: relative;
  width: 100%;
  max-width: 16%;
}

.gridCol2 {
  position: relative;
  width: 100%;
  max-width: 70%;
}

.gridCol3 {
  position: relative;
  width: 100%;
  max-width: 20%;
}

.gridCol4 {
  position: relative;
  width: 100%;
  max-width: 20%;
}

.gridCol5 {
  position: relative;
  width: 100%;
  max-width: 60%;
}

.searchResultBody table tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.searchResultBody table tbody tr {
  width: auto !important;
}

.searchResultBody table colgroup {
  display: table-column-group;
}

.searchResultBody table colgroup col .tableCol {
  display: table-column;
}

.infoContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infoContent1 {
  display: flex;
}

.infoContent1:first-child {
  font-size: 20px;
  font-weight: bold;
  box-sizing: border-box;
  margin-right: 30px;
}

.infoContent1:nth-child(2) {
  font-size: 16px;
}

.basicinfo .email {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.basicinfo .email .emailText {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  color: #424242;
  word-break: keep-all;
}

.basicinfo .email .emailText .emailText1 {
  font-size: 0.8125rem;
  font-weight: 400;
}

.basicinfo .email .emailText .emailText2 {
  font-size: 0.9375rem;
  line-height: 24px;
}

.emailLabel {
  position: relative;
  display: inline-block;
  width: 68px;
  height: 32px;
  margin: auto 0;
}

.emailLabel input {
  width: 0;
  height: 0;
  opacity: 0;
}

.emailLabel1 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.emailLabel1.emailLabel2 {
  border-radius: 34px;
}

input:checked + .emailLabel1 {
  background-color: #2196f3;
}

.emailLabel1:before {
  position: absolute;
  bottom: 4px;
  left: 4px;
  width: 24px;
  height: 24px;
  content: "";
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.emailLabel1.emailLabel2:before {
  border-radius: 50%;
}

input:checked + .emailLabel1:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}

.basicinfo .emailDivide {
  width: 100%;
  height: 1px;
  margin: 24px 0;
  background-color: #d7e2eb;
}

.basicinfo .accountDelete {
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 24px;
  color: #606060;
}

.deleteButton1 {
  width: 100px;
  height: 46px;
  padding: 12px 19px;
  font-weight: 700;
  color: #263747;
  text-align: center;
  background-color: #fbfbfd;
  border-radius: 4px;
}

.deleteButton3 {
  padding: 0px;
}

.deleteButton1.deleteButton2 {
  color: #263747;
  background-color: #fbfbfd;
  border: #e0e0e0 solid 1px;
}
