.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main > img {
  width: 24rem;
  height: 24rem;
}

@media screen and (max-width: 768px) {
  .main > img {
    display: none;
  }
}

.info_heading {
  justify-content: center;
  font-family: "NotoSansMedium";
  font-size: 1.4rem;
  color: #003b71;
}

.info_text {
  margin-top: 0.5rem;

  font-size: 1.125rem;
  /* font-weight: lighter; */
  color: #003b71;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.searchbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  height: 90px;
}

.menuGrid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 3px;
  margin-bottom: 0.375rem;
}

@media screen and (max-width: 768px) {
  .menuGrid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .menuGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.databoardGrid {
  display: grid;
  gap: 8.75rem;

  max-width: 1200px;
  padding: 0 1.25rem;
  padding-bottom: 6.25rem;
  margin: 0 auto;
  overflow-x: hidden;
}
