html,
body {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;

  height: 100%;

  background-color: white;
}

a * {
  cursor: pointer;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
}

button {
  cursor: pointer;

  background-color: transparent;
  border: none;
  outline: none;
}

@font-face {
  font-family: "NotoSansRegular";
  src: url("../../public/fonts/NotoSansKR-Regular.ttf");
}

@font-face {
  font-family: "NotoSansMedium";
  src: url("../../public/fonts/NotoSansKR-Medium.ttf");
}

@font-face {
  font-family: "NotoSansBold";
  src: url("../../public/fonts/NotoSansKR-Bold.ttf");
}

@font-face {
  font-family: "NotoSansLight";
  src: url("../../public/fonts/NotoSansKR-Light.ttf");
}

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  font-size: 12px;

  font-family: "NotoSansRegular", "Apple SD Gothic Neo";
}

@media screen and (min-width: 1280px) and (max-width: 1919px) {
  * {
    font-size: 14px;
  }
}

@media screen and (min-width: 1920px) {
  * {
    font-size: 16px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

li:hover {
  cursor: pointer;
}

/** padding */
.layoutPadding {
  padding: 0 8rem;
}

.noLayoutPadding {
  margin: 0 -8rem;
  padding: 0 8rem;
}

@media screen and (max-width: 680px) {
  .layoutPadding {
    padding: 0 2.5rem;
  }

  .noLayoutPadding {
    margin: 0 -2.5rem;
    padding: 0 2.5rem;
  }
}

@media screen and (min-width: 681px) and (max-width: 1439px) {
  .layoutPadding {
    padding: 0 6rem;
  }

  .noLayoutPadding {
    margin: 0 -6rem;
    padding: 0 6rem;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .layoutPadding {
    padding: 0 12rem;
  }

  .noLayoutPadding {
    margin: 0 -12rem;
    padding: 0 12rem;
  }
}

@media screen and (min-width: 1920px) {
  .layoutPadding {
    padding: 0 20rem;
  }

  .noLayoutPadding {
    margin: 0 -20rem;
    padding: 0 20rem;
  }
}

.pagesContainer,
.pagesWrapper {
  display: flex;
  justify-content: center;
}

.pageButton {
  border-radius: 50%;
  color: #767676;

  width: 24px;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 8px;
}

.pageButton.active {
  background-color: #767676;
  color: white;
}

.pageButton:hover {
  color: rgb(219, 219, 219);
}
