.main {
  padding: 2.625rem 0 8.625rem 0;
}

.serviceTitle {
  font-size: 1.5rem;
  font-family: "NotoSansBold";
}

.serviceGrid {
  margin-top: 0.75rem;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1.5rem;
}

@media screen and (max-width: 640px) {
  .serviceGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 641px) and (max-width: 1007px) {
  .serviceGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.listboardGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2.5rem;
}

.dataListWrapper {
  display: flex;
  align-items: center;

  padding: 0.5rem 0;
}

.dataListTitle {
  font-size: 0.875rem;
}

.dataLabel {
  display: inline-block;

  width: 4.125rem;
  padding: 0.125rem 0;
  margin-right: 0.625rem;

  background-color: #ffd361;
  border-radius: 0.25rem;
  border: solid 1px #000000;

  text-align: center;
  font-size: 0.75rem;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0 0 1rem;
  line-height: 1.15;
  font-size: 3.6rem;
}

.title {
  text-align: center;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition:
    color 0.15s ease,
    border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
