.main {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 32rem;
}

.databox_stack {
    display: flex;
    align-items: center;

    padding: 0.5rem 0;
}

.textContainer {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
}

.title {
    color: #003B71;
    font-size: 1.1rem;
}

.subtitle {
    color: #2E2E2E;
    font-size: 0.8rem;
}

.datainfo {
    color: #686868;
    font-size: 0.6;
}