.container {
  position: relative;
  min-height: 100vh;
}

.content {
  padding: 0 8rem;
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .content {
    padding: 0 12rem;
  }
}

@media screen and (min-width: 1920px) {
  .content {
    padding: 0 20rem;
  }
}
