.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.title {
  font-family: "NotoSansBold";
  color: #0f1317;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.5;
  word-break: keep-all;
}

.headerContainer > a {
  font-family: "NotoSansBold";

  display: inline-flex;
  align-items: center;

  cursor: pointer;

  flex-shrink: 0;
}

.more {
  color: #667380;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.5;
  transition: color 0.2s;
}

.dataBoard {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(3, 1fr);
}

.dataCard {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  border: 1px solid #dce1e5;
  border-radius: 16px;
  transition: border-color 0.2s;

  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.025);
}

.dataCard:hover {
  border-color: #003b71;
}

.dataCard > section {
  display: flex;
  min-height: 210px;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 24px;
}

.dataCard > section > div:first-of-type {
  margin-bottom: 24px;
}

.dataTitle {
  font-family: "NotoSansBold";
  color: #0f1317;
  font-size: 1.3rem;

  margin-bottom: 1rem;
}

.dataCard > section > div:nth-of-type(2) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  border-top: 1px solid #dce1e5;
  margin-top: auto;
}

.dataFrom {
  color: #0f1317;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.5;
}

.labelGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
}

.boardLabel {
  font-family: "NotoSansMedium";

  color: #4b5762;

  padding: 4px 6px;

  border-radius: 4px;
}

.boardLabel > p {
  font-size: 1rem;
}

.dataConst {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  margin-top: auto;
  border-top: 1px solid #dce1e5;
}

.dataConstText {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: #0f1317;
  letter-spacing: -0.01em;
}
