.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 6.25rem;
  height: 8.125rem;
}

.image {
  width: 70%;
  height: auto;
}

.title {
  width: auto;
  height: 1.625rem;

  font-size: 1rem;

  margin-top: 5px;
}
