.table {
  width: 100%;
  min-width: 600px;
}

.table * {
  padding: 1rem;
  word-break: keep-all;
}

.table,
.table * {
  border: 1.2px solid #e6e6e6;
  border-collapse: collapse;
}

.table th {
  background-color: #f5f5f5;
  /* color: #f9f9f9; */
  font-family: "NotoSansBold";
  position: sticky;
  top: 0;
  z-index: 10;
}
