.container {
  padding-top: 2.125rem;
  padding-bottom: 2.125rem;
  background-color: white;
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .container {
    padding: 2.125rem 12rem;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    padding: 2.125rem 20rem;
  }
}

.topBar {
  display: flex;
  flex-direction: row-reverse;
}

.navWrapper {
  display: flex;
  align-items: center;
}

.navWrapper li {
  color: #003b71;
  font-size: 0.813rem;
}

.headerWrapper {
  margin-top: 0.906rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuWrapper {
  width: 46rem;
  height: 100%;
  margin-left: auto;
  display: table;
  table-layout: fixed;
}

.menuWrapper > li {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  position: relative; /* 추가 */
}

.menuWrapper > li > a {
  color: #003b71;
  font-size: 1.125rem;
  font-weight: bold;
  -moz-transition: all 0.12s ease-in;
  -o-transition: all 0.12s ease-in;
  -webkit-transition: all 0.12s ease-in;
  transition: all 0.12s ease-in;
}

.menuWrapper > li > a:hover {
  font-size: 1.3rem;
}

.menuWrapper li div {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  padding: 8px;
}

.menuWrapper li:hover div {
  display: block;
}

.menuWrapper li div ul {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 12px;
  border-radius: 8px;
}

.menuWrapper li:hover div ul {
  display: block;
}

.menuWrapper li div ul li {
  padding: 8px 16px;
  text-align: left; 
}

.menuWrapper li div ul li a {
  color: #555555;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.menuWrapper li div ul li a:hover {
  color: #0066ff;
  font-weight: 600;
}
