.Container {
  display: block;
  padding-top: 4rem;
  margin-bottom: 8rem;
}

.main {
  display: block;
  max-width: 75rem;
  margin: 0px auto;
  padding: 0px 1rem;
}

@media (max-width: 767px) {
  .main {
    padding: 0px 1.25rem;
  }
}

@media (max-width: 991px) {
  .main {
    padding: 0px 2rem;
  }
}

.header {
  display: block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header > h2 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 140%;
  letter-spacing: -0.009em;
  color: black;
}

@media (max-width: 991px) {
  .header .title {
    font-size: 1.625rem;
  }
}

.title {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}

@media (max-width: 991px) {
  .body {
    margin-top: 2rem;
  }
}

.body {
  margin-top: 2.5rem;
}

.body:nth-of-type(2) {
  margin-top: 7rem;
}

.contentHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contentHeader > div:first-child {
  display: flex;
  align-items: center;
}

.title {
  display: block;
  width: fit-content;
  padding-bottom: 0.4375rem;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.8125rem;
  color: #0078FF;
  border-color: #0078FF;
  letter-spacing: -0.01875rem;
  border-bottom: 0.1875rem solid #0078FF;
  margin-right: 1.875rem;
}

.date {
  display: flex;
}

.date > p {
  margin-left: 8px;
}

.contentWrapper {
  border: 0.0625rem solid rgb(215, 226, 235);
  background: white;
  border-radius: 0.75rem 0.5rem 0.875rem;
  padding: 1.25rem;
  margin-top: 2rem;
}

@media (max-width: 767px) {
  .contentWrapper {
    padding: 0px 0.75rem;
    margin-top: 2.25rem;
  }
}

.content {
  text-align: left;
  line-height: 1.6;
  display: block;
  box-sizing: border-box;
  padding: 1.875rem;
  font-size: 1.25rem;
}

.content > div:nth-child(2) {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 2.5rem 5rem 2.5rem 2.5rem;
  border-radius: 8px;
  border: 1px solid #e9ecef;
  background-color: #f8f9fa;
}

.contentWrapper .question {
  padding-right: 4rem;
}

.answerBtn {
  text-align: center;
}
  
.button {
  display: inline-block;
  min-width: 100px;
  height: 40px;
  padding: 0 60px;
  line-height: 37px;
  color: white;
  font-weight: 700;
  letter-spacing: -0.01em;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}
  
.blue {
  color: white;
  border: 1px solid #0066ff;
  background-color: #0066ff;
  margin: 0 2px;
}

.white {
  color: #0066ff;
  border: 2px solid #0066ff;
  background-color: white;
  margin: 0 2px;
}
  
.answerText {
  width: 100%;
  height: 20rem;
  padding: 15px;
  border: 2px solid #0066ff;
  border-radius: 4px;
  resize: vertical;
  margin-top: 2rem;
}