.container {
  width: 100%;
  padding: 1.5rem 8rem;
  background-color: #003b71;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 680px) {
  .container {
    padding: 1.5rem 2.5rem;
  }
}

@media screen and (min-width: 681px) and (max-width: 1919px) {
  .container {
    padding: 1.5rem 12rem;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    padding: 1.5rem 20rem;
  }
}

.navContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #bdbdbd;
}

.navContainer > * {
  font-size: 0.8rem;
}

.divisionLine {
  background-color: #bdbdbb;
}

.infoContainer > * {
  font-size: 0.8rem;
}

.infoContainer > * {
  margin-top: 0.5rem;
}

.infoContainer > *:first-child {
  margin-top: 0;
}

@media screen and (max-width: 640px) {
  .container {
    flex-direction: column;
  }
}
