.container {
  display: inline-block;

  border-radius: 0.625rem;

  padding: 0.25rem;

  color: #181818;

  -moz-transition: all 0.12s ease-in;
  -o-transition: all 0.12s ease-in;
  -webkit-transition: all 0.12s ease-in;
  transition: all 0.12s ease-in;
}

.container:hover {
  background-color: #003b71;
  color: white;

  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.container:hover .image {
  border-color: transparent;
}

.image {
  width: 100%;

  object-fit: contain;

  border-radius: 0.625rem;
  border: solid 1px #dbdbdb;
}

.textContainer {
  padding: 0.875rem;
}

.title {
  font-family: "NotoSansBold";
  font-size: 1.25rem;
}

.subtitle {
  margin-top: 1rem;

  font-family: "NotoSansLight";
  font-size: 0.875rem;

  white-space: pre-line;
  word-break: keep-all;
}
